.Container {
    @apply overflow-x-auto whitespace-nowrap pb-4;

    transform: rotateX(180deg);

    &::-webkit-scrollbar {
        @apply h-2;
    }

    &::-webkit-scrollbar-track {
        @apply rounded-full bg-slate-200 dark:bg-slate-500;
    }

    &::-webkit-scrollbar-thumb {
        @apply bg-accent-light dark:bg-accent-dark bg-opacity-70 rounded-full;
    }

    &::-webkit-scrollbar-thumb:hover {
        @apply bg-accent-light dark:bg-accent-dark;
    }
}

.table {
    @apply mt-6 table-auto w-full text-sm;

    transform: rotateX(180deg);

    th {
        @apply border-b border-slate-200 dark:border-slate-500 font-bold pt-0 pb-2 text-slate-800 dark:text-slate-100 text-left select-none;

        span {
            @apply inline-block ml-1;
        }
    }

    td {
        @apply border-b border-slate-200 dark:border-slate-500 py-2 pr-4;
    }

    .value {
        @apply text-slate-800 dark:text-white;
    }

    .muted {
        @apply text-slate-500;
    }
}

.icon {
    @apply text-slate-500 cursor-pointer;
}

.placeholder {
    @apply text-slate-500;
}
