@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply box-border;
}

html,
body,
#root {
	@apply h-full;
}

body {
	font-family: 'Vela Sans', 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@apply m-0 overflow-y-hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
